@import "tailwindcss";

.line{
    word-spacing: -0.2em;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

/* Make date input consistent */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

/* Force calendar icon visible (Chrome/Edge/Safari) */
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 12px;
  cursor: pointer;
  opacity: 0.7;
  height: 20px;
  width: 20px;
}

